In [1]:
employee=[]
employee.append('Radha')
print(employee)

['Radha']

In [2]:
employee.append('Ramesh')
employee.append("Salman")
print(employee)

['Radha', 'Ramesh', 'Salman']

# Index and Insert

In [3]:
employee=['Radha','Ramesh','Salman']

In [4]:
employee.insert(1,"D'Souza")
employee

['Radha', "D'Souza", 'Ramesh', 'Salman']

In [5]:
emp_salary=[15000,28000,10000]
emp_salary

[15000, 28000, 10000]

In [6]:
emp_salary.insert(0,48000)
emp_salary

[48000, 15000, 28000, 10000]

# List Extended Methods

In [7]:
employee

['Radha', "D'Souza", 'Ramesh', 'Salman']

In [8]:
len(employee)

4

# Indexing and Slicing

In [9]:
employee

['Radha', "D'Souza", 'Ramesh', 'Salman']

In [10]:
employee[1]

"D'Souza"

In [11]:
employee[2]

'Ramesh'

In [12]:
employee[3]

'Salman'

In [13]:
employee[-2]

'Ramesh'

In [14]:
employee[-1]

'Salman'

In [15]:
employee[1]='Remo'
employee

['Radha', 'Remo', 'Ramesh', 'Salman']

In [16]:
emp_salary[1]=20000
emp_salary

[48000, 20000, 28000, 10000]

In [17]:
emp_salary[1:]

[20000, 28000, 10000]

In [18]:
emp_salary[:3]

[48000, 20000, 28000]

In [19]:
emp_salary[1:3]

[20000, 28000]

In [20]:
emp_salary+[25000]

[48000, 20000, 28000, 10000, 25000]

In [21]:
emp_salary=emp_salary+[25000]

In [22]:
emp_salary

[48000, 20000, 28000, 10000, 25000]

In [23]:
emp_salary*2

[48000, 20000, 28000, 10000, 25000, 48000, 20000, 28000, 10000, 25000]

In [24]:
emp_salary*3

[48000,
 20000,
 28000,
 10000,
 25000,
 48000,
 20000,
 28000,
 10000,
 25000,
 48000,
 20000,
 28000,
 10000,
 25000]

In [25]:
print('=' *90)
print('                                             Data Trained                                   ')
print('*' *90)

==========================================================================================
                                             Data Trained
******************************************************************************************

# Advanced Lists

# Count

In [26]:
marks=[25,100,28,49,55,38,100,24,47,55,100,60,74,88,38,100]

In [27]:
marks.count(100)

4

In [28]:
marks.count(60)

1

In [29]:
marks.count(89)

0

# Index

In [30]:
marks

[25, 100, 28, 49, 55, 38, 100, 24, 47, 55, 100, 60, 74, 88, 38, 100]

In [31]:
marks.index(100)

1

# Extend

In [32]:
employee

['Radha', 'Remo', 'Ramesh', 'Salman']

In [33]:
employee.append(['Anu','Sapna'])
print(employee)

['Radha', 'Remo', 'Ramesh', 'Salman', ['Anu', 'Sapna']]

In [34]:
employee=['Radha','Remo','Ramesh','Salman']
employee.extend(['Anu','Sapna'])
print(employee)

['Radha', 'Remo', 'Ramesh', 'Salman', 'Anu', 'Sapna']

# Pop

In [35]:
Students=['Raj','Ram','Abid','Nancy','Fatima']

In [36]:
Students

['Raj', 'Ram', 'Abid', 'Nancy', 'Fatima']

pop_last=Students.pop()
pop_last

In [37]:
Students

['Raj', 'Ram', 'Abid', 'Nancy', 'Fatima']

In [38]:
Students=['Raj','Ram','Abid','Nancy','Fatima']

In [39]:
pop_index=Students.pop(1)
pop_index

'Ram'

In [40]:
Students

['Raj', 'Abid', 'Nancy', 'Fatima']

# remove

In [41]:
roll_number=[100,101,102,103,104,103]

In [42]:
roll_number.remove(103)
print(roll_number)

[100, 101, 102, 104, 103]

In [43]:
roll_number.remove(103)
print(roll_number)

[100, 101, 102, 104]

In [44]:
roll_number.remove(103)
print(roll_number)

ValueError: list.remove(x): x not in list

# reverse

In [64]:
list=[1,2,3,4,3]

In [67]:
list.reverse()

In [68]:
list

[1, 2, 3, 4, 3]

# sort

In [69]:
marks=[25,38,49,55,38,26,47,55,60,74,88,38]
marks

[25, 38, 49, 55, 38, 26, 47, 55, 60, 74, 88, 38]

In [70]:
marks.sort()
print(marks)

[25, 26, 38, 38, 38, 47, 49, 55, 55, 60, 74, 88]

In [71]:
marks.sort(reverse=True)
print(marks)

[88, 74, 60, 55, 55, 49, 47, 38, 38, 38, 26, 25]

# Tuples

# Constructing Tuples

In [72]:
work_location=('Bengaluru','Noida','Chennai','Delhi')
work_location

('Bengaluru', 'Noida', 'Chennai', 'Delhi')

In [73]:
type(work_location)

tuple

In [74]:
emp_salary=(20000,35000,48000)
emp_salary

(20000, 35000, 48000)

# Let's try to add new work location

In [75]:
work_location.append('Hyderabad')

AttributeError: 'tuple' object has no attribute 'append'

In [76]:
work_location=list(work_location)
print(work_location)

TypeError: 'list' object is not callable

In [ ]:
type(work_location)

In [1]:
work_location=('Bengaluru','Noida','Chennai','Delhi')
work_location

('Bengaluru', 'Noida', 'Chennai', 'Delhi')

In [2]:
work_location=list(work_location)
work_location

['Bengaluru', 'Noida', 'Chennai', 'Delhi']

In [2]:
work_location=list(work_location)
work_location

NameError: name 'work_location' is not defined

In [3]:
type(work_location)

list

In [4]:
work_location.append('Hyderabad')
work_location

['Bengaluru', 'Noida', 'Chennai', 'Delhi', 'Hyderabad']

In [5]:
work_location[1]='Kolkata'
work_location

['Bengaluru', 'Kolkata', 'Chennai', 'Delhi', 'Hyderabad']

In [6]:
work_location=tuple(work_location)
work_location

('Bengaluru', 'Kolkata', 'Chennai', 'Delhi', 'Hyderabad')

In [7]:
len(work_location)

5

In [8]:
work_location

('Bengaluru', 'Kolkata', 'Chennai', 'Delhi', 'Hyderabad')

In [9]:
work_location[1]

'Kolkata'

In [10]:
work_location[-2]

'Delhi'

# Basic Tuples Methods

In [11]:
numbers=(25,50,88,90,50)
numbers

(25, 50, 88, 90, 50)

In [12]:
numbers.index(50)

1

In [13]:
numbers.index(88)

2

In [14]:
numbers.count(50)

2

# Sets

In [15]:
roll_numbers=set()

In [16]:
type(roll_numbers)

set

In [17]:
roll_numbers.add(1)
roll_numbers

{1}

In [18]:
roll_numbers.add(2)
roll_numbers

{1, 2}

In [19]:
roll_numbers.add(1)
roll_numbers

{1, 2}

# Creating a List with repeats

In [20]:
remove_dups=[8,5,6,9,1,1,2,2,3,4,5,6,1,1,7,7]

In [21]:
dups_removed=set(remove_dups)
dups_removed

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [22]:
remove_dups=list(dups_removed)
remove_dups

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

## Constructing a Dictionary

In [23]:
my_dict={'Key 1':'Value 1','Key 2':'Value 2'}

In [24]:
my_dict

{'Key 1': 'Value 1', 'Key 2': 'Value 2'}

In [25]:
my_dict['Key 2']

'Value 2'

In [26]:
my_dict={'Roll_number':123,'Marks':[12,23,33],'Subject':['Computer','Science','Maths']}

In [27]:
my_dict['Subject']

['Computer', 'Science', 'Maths']

In [28]:
my_dict['Subject'][1]

'Science'

In [29]:
my_dict['Subject'][0].upper()

'COMPUTER'

In [30]:
my_dict['Subject'][2].lower()

'maths'

In [31]:
my_dict['Marks']

[12, 23, 33]

In [32]:
my_dict['Marks'][0]=my_dict['Marks'][0]+30

In [33]:
my_dict['Marks']

[42, 23, 33]

In [34]:
my_dict['Marks'][2]+=20

In [35]:
my_dict['Marks']

[42, 23, 53]

In [36]:
my_dict['Marks'][2]-=3

In [37]:
my_dict['Marks']

[42, 23, 50]

In [38]:
my_dict['Year']='3rd'

In [39]:
my_dict

{'Roll_number': 123,
 'Marks': [42, 23, 50],
 'Subject': ['Computer', 'Science', 'Maths'],
 'Year': '3rd'}

In [40]:
my_dict.update({'Roll_number':100})

In [41]:
my_dict

{'Roll_number': 100,
 'Marks': [42, 23, 50],
 'Subject': ['Computer', 'Science', 'Maths'],
 'Year': '3rd'}

In [45]:
my_dict.keys()

dict_keys(['Roll_number', 'Marks', 'Subject', 'Year'])

In [46]:
my_dict.values()

dict_values([100, [42, 23, 50], ['Computer', 'Science', 'Maths'], '3rd'])

In [47]:
my_dict.items()

dict_items([('Roll_number', 100), ('Marks', [42, 23, 50]), ('Subject', ['Computer', 'Science', 'Maths']), ('Year', '3rd')])